app-navbar {
  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #a5c300;;
    color: white;
    font-weight: 600;

    .spacer {
      flex: 1;
    }

    img {
      margin: 0 16px;
    }

    #twitter-logo {
      height: 40px;
      margin: 0 16px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
