<div class="container-footer">
  <div class="copyright-container">
    <p class="copyright">Copyright &copy; 2020 CCH</p></div>
  <div class="social-container">
    <ul class="social">
      <li><a routerLink="/"><fa-icon [icon]="faHome"></fa-icon></a></li>
      <li><a href="https://www.linkedin.com/in/cristian-chiriac-5ab959157/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
      <li><a href="https://twitter.com/CrsKristian" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
    </ul>
  </div>
</div>
