/*MediaMarkt Text Colors*/

$mm-text: #535353;
$mm-headline: #000;
$mm-grey: #f2f2f2;
$mm: #df0000;
$mm-black: #000000;
$mm-button-swe: #ff8b00;
$toolbar-background: #df0000;

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  mm: #df0000
);
