app-country-modal {
  h1 {
    text-align: center;
  }
  p {
    width: 100%;
    margin: 0;
    text-align: right;
    font-weight: bold;
  }
  .value-confirmed {
   color: #3daadf;
  }
  .value-recovered {
    color:#006400;
  }
  .value-death {
    color: $primary-color;
  }
  .btn-wrapper{
    padding-top: 20px;
    text-align: center;
  }
}
