app-country-modal {
  h1 {
    text-align: center;
  }

  p {
    width: 100%;
    margin: 0;
    text-align: right;
    font-weight: bold;
  }

  .value-confirmed {
    color: $confirmed-color;
  }

  .value-recovered {
    color: $recovered-color;
  }

  .value-death {
    color: $primary-color;
  }

  .btn-wrapper {
    padding: 20px 0 0;
    text-align: center;
  }
}
