app-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: $primary-color;

  .container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
      margin: 0;
    }

    .copyright {
      margin: 10px 0;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.88px;
      text-transform: capitalize;
    }
  }

  .social-container {
    .social {
      text-align: center;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: inline-block;
        padding: 0 8px;

        a {
          text-decoration: none;
          color: $white-color;
        }
      }
    }
  }


}
